/* Topbar only content */
.topbar{
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: #262626ff;
    color: #f1edeeff;
    font-family: 'Proxima Nova Regular';
}

.topbar .icons{
    float: left;
    width: 33%;
}

.topbar .name{
    float: right;
}