/* NOTE: contact me form */
form {
    width: 80%;

    margin: 0 auto 70% auto;
}

form>input[type=text],
form>textarea {
    width: 100%;
    box-sizing: border-box;

    padding: 1em;
    margin-top: 6px;
    margin-bottom: 16px;

    border: 1px solid var(--text-primary);
    border-radius: .5em;

    resize: vertical;
}

form>input[type=submit] {
    background-color: var(--color-primary);

    color: var(--text-primary);

    padding: 1em;

    border: none;
    border-radius: .5em;

    cursor: pointer;
}

form>input[type=submit]:hover {
    opacity: 80%;
}