/* NOTE: nav global stylings */
nav {
    z-index: 10;
    height: fit-content;

    position: fixed;
}

/* NOTE: specific for the landing version of nav */
#landing-nav {
    width: 100%;
    height: fit-content;
    min-width: fit-content;

    position: fixed;

    padding: 0px;
    gap: 2%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#landing-nav button {
    padding: .8em;

    border: none;
    background: none;

    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.1em;
}

#landing-nav button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* NOTE: specific to the main site nav */
#site-nav {
    width: 80%;
    height: fit-content;

    position: fixed;
    /* top: 0px; */

    padding: 0 10%;

    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--color-secondary);
    background-blend-mode: darken;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#site-nav div {
    padding: .8em;

    line-height: 1.2em;
}

#site-nav div>span {
    color: var(--text-secondary);
    font-size: .9em;

    vertical-align: middle
}

#site-nav div>strong {
    font-size: 1.2em;

    vertical-align: middle
}

#site-nav button {
    padding: .8em;

    border: none;
    background: none;

    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.1em;
}

#site-nav button:hover {
    text-decoration: underline;
    cursor: pointer;
}