---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Viewer from "../components/Viewer";
import ContactForm from "../components/ContactForm";
import Portfolio from "../components/Portfolio";
import LandingEffectController from "../components/LandingEffectController";

import "../styles/style.css";
import resumePath from "../resources/Resume.pdf";
---

<Layout title="My Portfolio">
	<!-- NOTE: the submit flavor alert -->
	<div id="flavor-alert">Thanks for the message 🤩</div>

	<!-- NOTE: the special titlebar asset that we will be making -->
	<Navbar client:only="react" />

	<!-- NOTE: the landing page -->
	<div id="landing-page">
		<section id="landing-title">
			<h1>Ethan Zeronik</h1>
			<h2>Software Engineer</h2>
		</section>

		<!-- NOTE: applies a random effect to the landing page -->
		<LandingEffectController client:only="react" />
	</div>

	<main>
		<!-- NOTE: a simple about me page -->
		<section id="about-me" class="content">
			<h2>About Me</h2>
			<p>
				Hi there 🤝 my name is Ethan Zeronik. Always learning, I love to
				try exciting new technologies. Whether it is a new
				microcontroller or a backend framework that provides better
				performance, I am always striving to learn about the next big
				thing. I like to spend my free time assembling Gunpla models or
				3d printing various odds and ends. I am passionate about always
				doing the best I can, both in professional and personal
				pursuits.
			</p>
			<h3>Skills</h3>
			<p>Typescript, Javascript, Git, C, C#, Powershell, SQL</p>
			<h3>Education</h3>
			<p>
				<strong>Purdue University:</strong> 2019-2023, Bachelors in CNIT
				with a general specification
				<br />
				<br />
				<strong>Heritage Christian:</strong> 2006-2019, Highschool diploma
			</p>
		</section>

		<span class="gutter"></span>

		<!-- NOTE: a grid of all projects in my portfolio -->
		<section id="portfolio" class="content">
			<h2>Portfolio</h2>
			<Portfolio client:only="react" />
		</section>

		<!-- NOTE: the "footer" of the site -->
		<section id="footer" class="content">
			<div>
				<a href="https://github.com/ejzeronimo" target="_blank">Github</a>
				|
				<a href="https://www.linkedin.com/in/ethanzeronik/" target="_blank">LinkedIn</a>
				|
				<a href="https://discordapp.com/users/210578280485617665" target="_blank">Discord</a>
				|
				<a href="mailto:ejzeronik@gmail.com" target="_blank">Email</a>
			</div>
		</section>
	</main>
</Layout>
<!-- 
<script>
	let scrolling = false;

	function scrollTest(e: Event) {
		if (window.scrollY > 0 && window.scrollY < window.innerHeight && !scrolling) {
			scrolling = true;
			document.querySelector("main")!.scrollIntoView({
				behavior: "smooth",
			});
			console.log("here");
		}
		// window.innerHeight
		console.log(window.scrollY);
	}

	window.addEventListener("scroll", scrollTest);
</script> -->
